.donor {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-white);
  display: grid;
  grid-template-columns: 18% 82%;

  & > .sideBar {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--primary-color-600);
    flex-direction: column;
    justify-content: space-evenly;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    & i {
      font-size: larger;
    }

    & > .activities {
      width: 100%;
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;

      & > div {
        cursor: pointer;
        width: 90%;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border-radius: 20px;
        color: var(--primary-black);

        & > span {
          font-family: metafiz-bold;
          font-size: var(--font-size-base);
        }

        &:hover {
          color: var(--primary-color-600);
          background-color: var(--primary-color-200);
        }
      }
    }

    & > div:last-child {
      cursor: pointer;
      width: 90%;
      height: 42px;
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      color: var(--primary-black);

      & > span {
        font-family: metafiz-bold;
        font-size: var(--font-size-base);
      }

      &:hover {
        color: var(--primary-color-600);
        background-color: var(--primary-color-200);
      }
    }

    & > .logo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-bottom: 30px;

      & > img {
        width: 40%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 10px;
      }

      & > h5 {
        white-space: wrap;
        text-align: center;
        font-family: metafiz-bold;
        font-size: var(--font-size-small);
        color: var(--primary-white);
        font-weight: 600;
      }
    }
  }

  & > .profile,
  & > .interactions,
  & > posts,
  & > .appointments {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & > .profile {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(10%, 10);
    background-color: var(--primary-white);

    & > div:first-child {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      & img {
        height: 200px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
      & input {
        display: none;
      }
      & > label {
        width: 50%;
        height: fit-content;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        justify-content: center;
        position: relative;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: versus;
        color: #121212;
        overflow: hidden;
        padding-inline: 0.2rem;
        padding-block: 0.4rem;
        background-color: transparent;
        border: 0.5px solid #121212;
        border-radius: 1rem;
        cursor: pointer;
        font-size: clamp(16px, calc(12px+0.46vw), 18px);
        box-shadow: 4px 8px 12px #121212;
        z-index: 2;

        &:hover {
          border: 0.5px solid #121212;
          color: white;
          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 300ms 0s ease;
          background-color: var(--secondary-color);
          border-radius: 0.5px;
          z-index: -1;
        }
      }
    }

    & > div:last-child {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;

      & > button {
        width: 50%;
        height: fit-content;
        display: flex;
        align-items: center;
        letter-spacing: 0.5px;
        justify-content: center;
        position: relative;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: versus;
        color: #121212;
        overflow: hidden;
        padding-inline: 0.2rem;
        padding-block: 0.4rem;
        background-color: transparent;
        border: 0.5px solid #121212;
        border-radius: 1rem;
        cursor: pointer;
        font-size: clamp(16px, calc(12px+0.46vw), 18px);
        box-shadow: 4px 8px 12px #121212;
        z-index: 2;

        &:hover {
          border: 0.5px solid #121212;
          color: white;
          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 300ms 0s ease;
          background-color: var(--secondary-color);
          border-radius: 0.5px;
          z-index: -1;
        }
      }

      & > h1 {
        align-self: center;
        justify-self: center;
        grid-column: span 2;
        font-family: metafiz-bold;
        font-size: var(--font-size-xl);
        letter-spacing: 2px;
        color: var(--primary-color-600);
      }

      & > div {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > input {
          height: 48px;
          width: 100%;
          background-color: var(--primary-white);
          border: 2px solid #121212;
          border-radius: 22px;
          color: #121212;
          margin: 0 0 8px 0;
          padding-left: 1rem;
          font-weight: 600;
          font-size: clamp(6px, 2.5vw, 18px);
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 0.8px;
          transition: 0.3s ease-in-out;

          &:focus {
            background-color: var(--primary-color-200);
          }

          &::placeholder {
            font-size: 16px;
            font-weight: 600;
            color: #121212;
          }
        }
        & > span {
          font-family: Arial, Helvetica, sans-serif;
          font-size: var(--font-size-base);
          color: var(--primary-color-400);
          font-weight: bold;
          padding-left: 20px;
        }
      }
    }
  }

  & > .interactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;

    & > .header {
      overflow: hidden;
      font-family: metafiz-bold;
      font-size: var(--font-size-md);
      color: var(--primary-color-600);
      margin-bottom: 50px;
    }

    & > .list {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 15px;

      & > div {
        cursor: pointer;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 48px;
        background-color: var(--primary-color-100);
        border: 1px solid var(--primary-color-400);
        border-radius: 30px;

        & > span {
          font-family: metafiz-bold;
          font-size: var(--font-size-base);
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: var(--primary-black);
        }

        & > div {
          display: flex;
          flex-direction: column;
          gap: 6px;
          & > span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: var(--font-size-small);
          }

          & > span:first-child {
            font-weight: bold;
            color: var(--primary-black);
          }
          & > span:last-child {
            color: var(--primary-black);
            opacity: 0.8;
          }
        }
      }
    }
    & > .filter {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 40px;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 40%;

        & > input {
          height: 42px;
          width: 100%;
          background-color: var(--primary-white);
          border: 2px solid #121212;
          border-radius: 22px;
          color: #121212;
          margin: 0 0 8px 0;
          padding-left: 1rem;
          font-weight: 600;
          font-size: clamp(6px, 2.5vw, 18px);
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 0.8px;
          transition: 0.3s ease-in-out;

          &:focus {
            background-color: var(--primary-color-200);
          }

          &::placeholder {
            font-size: 16px;
            font-weight: 600;
            color: #121212;
          }
        }
        & > span {
          font-family: Arial, Helvetica, sans-serif;
          font-size: var(--font-size-base);
          color: var(--primary-black);
          font-weight: bold;
          padding-left: 20px;
        }
      }
    }
  }
}
