@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

.loading {
  background-color: var(--primary-color-600);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .circle {
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 5px solid var(--primary-white);
    border-bottom-left-radius: 0;
    border-bottom: none;
    border-left: none;
    background-color: transparent;
    animation: rotate 2s linear infinite forwards;
  }
}
