.doctor {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 5%;

  & h1 {
    font-family: metafiz-bold;
    font-size: var(--font-size-lg);
    color: var(--primary-color-400);
    text-transform: capitalize;
  }

  & > .firstLayer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: 5%;
    margin-block: 22px;

    & > h1 {
      font-family: metafiz-bold;
      font-size: var(--font-size-xl);
      color: var(--primary-color-600);
    }
    & > img {
      width: 2.3rem;
      height: 2.3rem;
      border-radius: 50%;
      padding: 0.5rem;
      box-sizing: content-box;
      cursor: pointer;
      &:hover {
        border: 2px solid var(--primary-black);
        background-color: var(--secondary-color);
        opacity: 0.8;
      }
    }
  }

  & > .update {
    margin-block: 60px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .mode1 {
      width: 50%;
      & > button {
        width: 40%;
      }
      & > button:last-child::before {
        background-color: rgb(214, 11, 11);
      }
    }

    & > .mode2 {
      width: 60%;
      & > button {
        width: 32%;
      }
      & > input {
        width: 32%;
        height: 45px;
        background-color: var(--primary-white);
        border: 2px solid #121212;
        border-radius: 22px;
        color: #121212;
        padding-left: 2rem;
        font-weight: 600;
        font-size: clamp(6px, 2.5vw, 18px);
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 0.8px;
        transition: 0.3s ease-in-out;

        &:focus {
          background-color: var(--primary-color-200);
        }

        &::placeholder {
          font-size: 16px;
          font-weight: 600;
          color: #121212;
        }
      }
    }
    & > div {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 8px;
      & button {
        align-self: flex-start;
        display: flex;
        height: fit-content;
        align-items: center;
        letter-spacing: 0.5px;
        justify-content: center;
        position: relative;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: versus;
        color: #121212;
        padding-inline: 0.2rem;
        padding-block: 0.4rem;
        background-color: transparent;
        border: 0.5px solid #121212;
        border-radius: 5px;
        cursor: pointer;
        font-size: clamp(16px, calc(12px+0.46vw), 18px);
        box-shadow: 4px 8px 12px #121212;
        z-index: 2;

        &:hover {
          border: 0.5px solid #121212;
          color: white;
          &::before {
            width: 100%;
          }
        }

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          transition: all 300ms 0s ease;
          background-color: var(--secondary-color);
          border-radius: 0.5px;
          z-index: -1;
        }
      }
    }
  }
}
